<launch>
    <arg name="model" />
    <arg name="gui" default="false" />

    <param name="robot_description" command="$(find xacro)/xacro $(find myrobot_description)/xacro/my_robot.xacro" />
    <param name="use_gui" value="$(arg gui)" />

    <!-- loading map -->
    <node pkg="map_server" type="map_server" name="gmap_server" args="$(find myrobot_navigation)/map/gmap/gmap.yaml">
	<remap from="/map" to="/gmap" />
    </node>



    <!-- Lidar driver -->
    <include file = "$(find delta_lidar)/launch/delta_lidar.launch" />
    
   
    <!-- amcl localition -->
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
	<remap from="map" to="gmap" />
        <param name="use_map_topic"             value="true"/>

        <param name="odom_frame_id"             value="odom"/>
    	<param name="base_frame_id"             value="base_link"/>
    	<param name="global_frame_id"           value="map"/>
    	<param name="odom_model_type"           value="diff"/>
    	<param name="gui_publish_rate"          value="10.0"/>
    	
	<param name="laser_max_beams"           value="60"/>
        <param name="laser_min_range"           value="0.2"/>
        <param name="laser_max_range"           value="6.0"/>
        
	<param name="min_particles"             value="100"/>
    	<param name="max_particles"             value="5000"/>

    	<param name="laser_z_hit"               value="0.95"/>
    	<param name="laser_z_short"             value="0.025"/>
    	<param name="laser_z_max"               value="0.025"/>
    	<param name="laser_z_rand"              value="0.05"/>
    	<param name="laser_sigma_hit"           value="0.2"/>
    	<param name="laser_lambda_short"        value="0.1"/>

    	<param name="update_min_d"              value="0.25"/>
    	<param name="update_min_a"              value="0.2"/>
    	<param name="resample_interval"         value="3"/>

    	<param name="transform_tolerance"       value="0.5"/>

    	<param name="recovery_alpha_slow"       value="0.0"/>
    	<param name="recovery_alpha_fast"       value="0.0"/>
        <param name="initial_cov_xx"            value="0.25"/>
        <param name="initial_cov_yy"            value="0.25"/>
        <param name="initial_cov_aa"            value="10.0"/>
    </node>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find myrobot_navigation)/param/move_base_params.yaml" command="load" />
        <rosparam file="$(find myrobot_navigation)/param/global_costmap_params.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find myrobot_navigation)/param/local_costmap_params.yaml" command="load" ns="local_costmap"/>
        <rosparam file="$(find myrobot_navigation)/param/global_planner_params.yaml" command="load" ns="GlobalPlanner"/>
        <rosparam file="$(find myrobot_navigation)/param/dwa_local_planner_params.yaml" command="load" ns="DWAPlannerROS"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="odom_to_base_footprint" args="0.0 0.0 0.0 0 0 0.0 /odom /base_footprint 1000"/>
    <node pkg="rviz" type="rviz" name ="rviz" args="-d $(find myrobot_navigation)/rviz/nav.rviz" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
